.stepUpAuthenticationModal {
    padding: 20px;
    .explanation {
        padding-bottom: 20px;
        text-align: center;
    }
    .question {
        padding-bottom: 10px;
        text-align: center;
        font-weight: bold;
    }
    .inputContainer {
        input {
            width: 100%;
            border: 1px solid gray;
            background: white;
            border-radius: 2px;
            padding: 10px;
            text-align: center;
            margin-bottom: 10px
        }
    }
    .buttonContainer {}
}